# Bitácora para manejo de archivos y sistema operativo

# <center> Comandos de *Python* en Jupyter</center>
1. Variables
2. Ciclos
3. Manejo de imágenes
4. Series y variables
5. Pandas (manejo de datos tabulares)
6. Graficado de datos tabulares
7. Descarga de archivos de la red

# Comandos básicos del sistema operativo con python

## Directorio de trabajo

In [ ]:
pwd

## Cambio de directorio

In [3]:
cd ~/Desktop/data

/Users/migueldelrio/Desktop/data

## Listado de archivos del directorio

In [4]:
ls

1Hcorrugataassembly-blastx-coma.csv*
1Hcorrugataassembly-blastx-coma2.csv*
1Hcorrugataassembly-blastx.tab*
1Hcorrugataassembly-blastx2.csv*
1Hcorrugataassembly.fas
2Hcracherodii_blast_go.csv*
8SnuttalliTblastx.csv*
8SnuttalliTblastx.txt*
8SnuttalliTblastx.xlsx*
8SnuttalliTblastxespecies.xlsx*
8Snuttalliblastn.tab*
8Snuttalliblastn.tab 2*
8Snuttalliblastn_tab.xlsx*
BlastColumnsNames.xlsx*
BlastX_progreso.xlsx*
BlastX_progresoMsqualida.xlsx*
Blastn_progreso.xlsx*
ContigNmexicanusmapping_n.csv*
ContigNmexicanusmapping_n.tab*
ContigNmexicanusmapping_n.xlsx*
ContigNmexicanusmapping_x.csv*
ContigNmexicanusmapping_x.tab*
ContigNmexicanusmappingx_parasql.csv
ContigPpersonatusmapping_n.tab*
ContigPpersonatusmapping_x.csv*
ContigPpersonatusmapping_x.tab*
ContigPpersonatusmapping_x.xlsx*
Fissurellidae.gb*
Geoduck-transcriptome-v2-1.csv*
Geoduck-transcriptome-v2-1.xlsx*
Geoduck-transcriptome-v2-11.csv*
Geoduck-transcriptome-v2-len.tab.txt*
Geoduck-transcriptome-v2-r-1.csv*
Geoduck-transcriptome-v2-r.csv*
Geoduck-transcriptome-v2.csv*
Geoduck-transcriptome-v2.fasta*
Geoduck-transcriptome-v2.xlsx*
Geoduck-transcriptome-v3.fa*
Geoduck-transcriptome-v3.tab 5*
Geoduck-transcriptome-v3a-f.csv*
Geoduck-transcriptome-v3a-r.csv*
Geoduck-transcriptome-v3a.fa*
Haliotidae_mtDNA20160115.fasta*
Haliotidae_mtDNA20160115.gb*
Haliotis16s.fas*
Hfulgensmicros_NCBI.gb*
Hfulgensmicros_NCBI20160507.gb*
Hrufescens_mtDNASequence.csv*
Hrufescens_mtDNASequence.xlsx*
Hrufescens_mtDNASequences from NCBI.fasta*
Ncbi-colNames.xlsx*
StichopodidaemtDNA.mas*
StichopodidaemtDNA20160510.fasta*
StichopodidaemtDNA20160510.gb*
ab1/
bioinformatica_aplicada/
blast/
brain_size.csv*
brain_size.xlsx*
brainsize.csv*
conchos/
datosborrador.csv*
dorada/
ejercicio_fastaq/
fasta/
gastropoda_mtDNA20170714.gb*
gastropoda_mtDNA_ref_20170714.gb*
gastropoda_mtdna20170714.csv
genbank/
genepop/
haliotidemtdna.gb*
haliotidemtdnaproteins.fasta*
img/
isostichopusfuscus.gb*
microalgas/
murcielagos.fasta
murcielagos.gb
pca_scikitlearn/
pdi_molecular/
pepinodemar/
pezblanco/
pulposirene/
sec_masiva/
seguimiento/
totoaba/
totoaba2CFP.csv
totoaba2CFP.xlsx
totoabacontiglist.fa*
totoabacontiglist2.fa
totoabacontiglist2_blastx.csv
totoabacontiglist2_blastx.tab
totoabacontiglist2_blastx.xlsx
totoabacontiglist2_blastx_query_results.csv*
totoabacontiglist2_blastxespecie.csv
totoabacontiglist2_blastxespecie_ref.csv
totoabacontiglist2_opr.faa
totoabacontiglist_blastn.csv
totoabacontiglist_blastn.tab
totoabacontiglist_blastn.xlsx*
totoabacontiglist_blastnsigno.csv
totoabacontiglist_blastnsigno.xlsx*
totoabacontiglist_blastx.csv*
totoabacontiglist_blastx.tab*
totoabacontiglist_blastxespecie.csv*
vetigastropoda_mtDNA20160505.fasta*
vetigastropoda_mtDNA20170714.gb*
vetigastropoda_rrna.fasta*
vetigastropodamtdna20160505.gb*

## Listado de archivos de un directorio específico

In [5]:
ls ~/Desktop/jupyter/

04_0_markdown.ipynb*               apache-tomcat-8.5.9.tar.gz
04_b_comandospython.ipynb*         curso_bioinformatica_erika.ipynb
04_c_comandosR.ipynb*              fisiologia_amarillo.ipynb*
04_d_especies_longitudtotal.ipynb  id009.ipynb*
04_e_especies_morfo.ipynb          jupyter.ipynb
Fotos_truchas.ipynb*               microalgas/
Rvenndiagram.ipynb*

In [6]:
!ls ~/Desktop/jupyter/

04_0_markdown.ipynb               apache-tomcat-8.5.9.tar.gz
04_b_comandospython.ipynb         curso_bioinformatica_erika.ipynb
04_c_comandosR.ipynb              fisiologia_amarillo.ipynb
04_d_especies_longitudtotal.ipynb id009.ipynb
04_e_especies_morfo.ipynb         jupyter.ipynb
Fotos_truchas.ipynb               microalgas
Rvenndiagram.ipynb

### hay alguna diferencia entre los dos comandos anteriores? Explique

In [9]:
ls fasta/

Pierce287.3.14L13.S.S43046070.fasta  contigs.fa
bacteria_NR_043902.fa                img/
bacteria_NR_043902.gb                pierce16s.tsv
c_h_dloop.fasta*                     pierce_blastn16s.csv
c_h_dloop_mega.fasta                 secuencias_anotadas.fasta*
c_h_dloop_mega.meg

In [10]:
!ls fasta/

Pierce287.3.14L13.S.S43046070.fasta contigs.fa
bacteria_NR_043902.fa               img
bacteria_NR_043902.gb               pierce16s.tsv
c_h_dloop.fasta                     pierce_blastn16s.csv
c_h_dloop_mega.fasta                secuencias_anotadas.fasta
c_h_dloop_mega.meg

### explique qué hace el comando de la celda anterior

ls = utiliza el comando dir en windows

!ls = utiliza el emulador de linux

# Variables

In [11]:
hola = "Hola mundo"

In [12]:
print (hola)

Hola mundo

In [13]:
nombre = input("Como te llamas? ")
print ("Hola", nombre, "espero que estés bien.")

Como te llamas? m
Hola m espero que estés bien.

### impresión de segmentos de variables

In [14]:
print(hola[:2])

Ho

In [15]:
print(hola[2:])

la mundo

In [16]:
print(hola,", especialmente a ti",nombre )#la coma agregara un espacio

Hola mundo , especialmente a ti m

In [17]:
print(hola+", especialmente a ti "+nombre )#el signo + concatena los caracteres

Hola mundo, especialmente a ti m

In [18]:
print(10**1.5) #

31.622776601683793

In [19]:
10**1.5

31.622776601683793

In [20]:
10300/150

68.66666666666667

In [21]:
10300+150

10450

In [22]:
print(10300+150)

10450

In [23]:
print(nombre+str(1300))#str sirve para transformar números en caracteres

m1300

In [24]:
print(hola+", especialmente a ti "+nombre )#el signo

Hola mundo, especialmente a ti m

### asignación numérica

In [25]:
n=1110
print (n)

1110

### incremento a variable numérica

In [26]:
n+=1
print (n)

1111

In [27]:
n+=2
print (n)

1113

### concatenación de texto

In [28]:
nombre = "Miguel"
apellido = "del Río"
nombre_completo= nombre+apellido
print (nombre_completo)

Migueldel Río

### Copie el código de la celda anterior, corrijalo para que imprima adecuadamente el nombre y apellido con espacio entre ellos

In [29]:
nombre = "Miguel"
apellido = "del Río"
nombre_completo= nombre+" "+apellido
print (nombre_completo)

Miguel del Río

### Utilizando los ejemplos anteriores escriba unos comandos para que pida su nombre, su apellido y lo escriba de la siguiente forma
1. nombre y apellido
2. apellido, coma y nombre

In [30]:
nombre = input("Cuál es su nombre? ")
apellido = input("Cuál es su apellido? ")
print ("1.", nombre, apellido)
print("2.", apellido+",", nombre)

Cuál es su nombre? mi
Cuál es su apellido? de
1. mi de
2. de, mi

In [31]:
nombre = input("Cuál es su nombre? ")
apellido = input("Cuál es su apellido? ")
print ("1. "+ nombre+" "+ apellido)
print("2. "+ apellido+ ", "+ nombre)

Cuál es su nombre? mi
Cuál es su apellido? de
1. mi de
2. de, mi

# igualdades

In [32]:
nombre = "Miguel"

In [33]:
nombre=="Miguel"

True

In [34]:
nombre == "Angel"

False

# Explique las diferencias entres las dos celdas anteriores

el signo "=" se utiliza para

# Explique las diferencias con las celdas anteriores

# Ciclos (loops)

## Los ciclos se utilizan para repetir instrucciones

# *For*

En este caso `rec` se está utilizando una variable temporal (en algunas ocasiones llamada "dummy variable").

In [ ]:
for rec in hola:
    print (rec)

In [ ]:
for rec in hola:
    print (rec)

### observe y describa lo que realizó la celda anterior

# *While*

### escriba los comandos para imprimir del número 0 al 10. Asigne

In [ ]:
n=0
while n <=10:
    print(n, end="\t")
    n+=1

### Como modificaria los comandos para que el incremento fuera de 2 en 2?

In [ ]:
n=0
while n <=10:
    print(n, end="\t")
    n+=2

# Rangos

In [ ]:
lista = range(0,10)
print (lista)

### Explique que está pasando

In [ ]:
for rec in lista:
    print(rec)

In [ ]:
for rec in lista:
    print(rec, end="\t")

In [ ]:
for rec in range(0,101,10):
    print(rec, end="\t")

In [ ]:
?range

### Como asignaría a la variable lista el rango de 0 a 100 de 10 en 10

`lista = range(0,100,10)
for rec in lista:
    print (rec, end="\t")`

# listas

In [ ]:
listado = ["secuencia", "nucleotido", "datos", "parametros"]

In [ ]:
for rec in listado:
    print (rec)

In [ ]:
listado[2]

# tuplas

In [ ]:
tupla = ("secuencia", "nucleotido", "datos", "parametros")

In [ ]:
for rec in tupla:
    print (rec)

In [ ]:
tupla[2]

### La diferencia puede decirse que las [listas son dinámicas, mientras que las tuplas son estáticas.](https://recursospython.com/guias-y-manuales/listas-y-tuplas/)
Si se intenta agregar un registro a una lista, la agrega. No sucede lo mismo en el caso de tuplas, por ejemplo:

In [ ]:
listado.append("secuenciacion masiva")
listado

In [ ]:
tupla.append("secuenciacion masiva") #no se pueden agregar elementos a la tupla

### Modifique la siguiente instrucción para que imprima el contenido de `listado` con tabuladores

In [ ]:
for rec in listado:
    print (rec, end="\t")

### Modifique la siguiente instrucción para que imprima el contenido de `listado` con comas

In [ ]:
for rec in listado:
    print (rec, end=", ")

# Importación de paquetes

#### Paquete para manejo del sistema operativo

In [36]:
import os

In [ ]:
?os

In [ ]:
pwd

### para saber si existe una ruta determinada

In [37]:
os.path.exists("C:\\Users\\SalaD26\\Desktop\\data")

False

### para saber el directorio de trabajo

In [38]:
os.getcwd()

'/Users/migueldelrio/Desktop/data'

### cambio de directorio

In [39]:
os.chdir("../data/fasta")

In [40]:
os.getcwd()

'/Users/migueldelrio/Desktop/data/fasta'

### informacion sobre *sysname*, *nodename*, *release*, *version* y *maquina*

In [9]:
os.uname()

posix.uname_result(sysname='Darwin', nodename='MacBook-Air-de-Miguel.local', release='18.7.0', version='Darwin Kernel Version 18.7.0: Thu Jun 20 18:42:21 PDT 2019; root:xnu-4903.270.47~4/RELEASE_X86_64', machine='x86_64')

### para conocer el tiempo que toma un proceso

In [ ]:
tiempo =os.times()

print("hola", tiempo)

# [pandas](https://pandas.pydata.org) 
# Python Data Analysis Library

In [15]:
# se importan partes específicas de la biblioteca
from pandas import Series, DataFrame

In [16]:
# se importa pandas como pd, simplemente para no escribir `pandas` todo el tiempo que se requeira
import pandas as pd

In [17]:
cd ../../data/

/Users/migueldelrio/Desktop/data

In [19]:
pwd

'/Users/migueldelrio/Desktop/data'

In [23]:
cd ..

/Users/migueldelrio/Desktop/bioinformatica_anotacion2019/data

In [24]:
ls

7sppMorfo_largototal.csv* metagenomics/             metagenomics3/
fasta/                    metagenomics2/            sec_masiva/

In [25]:
pd.read_csv("7sppMorfo_largototal.csv")

      especie  org  long_total
0    especie1    1         100
1    especie1    2          89
2    especie1    3         114
3    especie1    4          88
4    especie1    5         124
5    especie1   12         101
6    especie1   13         100
7    especie1    6         113
8    especie1    7         109
9    especie1    8         129
10   especie1    9         118
11   especie1   10         113
12   especie1   11          96
13   especie1   14          98
14   especie1   15          92
15   especie1   16          99
16   especie1   17          88
17   especie1   18          99
18   especie1   19         129
19   especie1   20         132
20   especie1   21         114
21   especie1   22         128
22   especie1   23         105
23   especie1   25          98
24   especie1   26         111
25   especie1   27          98
26   especie1   28          96
27   especie1   29         125
28   especie1   30         107
29   especie1   31         112
..        ...  ...         ...
337  especie7   71          82
338  especie7   72          78
339  especie7   73          88
340  especie7   74          86
341  especie7   75          82
342  especie7   76          88
343  especie7   77          85
344  especie7   78          85
345  especie7   79          91
346  especie7   80          87
347  especie7   81          88
348  especie7   82         102
349  especie7   83          90
350  especie7   84          90
351  especie7   85          85
352  especie7   86          90
353  especie7   87          76
354  especie7   88          87
355  especie7   89          86
356  especie7   90          83
357  especie7   91          80
358  especie7   92          97
359  especie7   93          83
360  especie7   94          90
361  especie7   95          98
362  especie7   96          86
363  especie7   97          90
364  especie7   98          84
365  especie7   99          84
366  especie7  100          95

[367 rows x 3 columns]

In [ ]:
?pd.read_csv

# Describa el contenido del archivo que acaba de observar

# Escriba el comando para que al abrir el archivo `7sppMorfo.csv` lo asigne a la variable `f`

In [27]:
f = pd.read_csv("7sppMorfo_largototal.csv")
f

      especie  org  long_total
0    especie1    1         100
1    especie1    2          89
2    especie1    3         114
3    especie1    4          88
4    especie1    5         124
5    especie1   12         101
6    especie1   13         100
7    especie1    6         113
8    especie1    7         109
9    especie1    8         129
10   especie1    9         118
11   especie1   10         113
12   especie1   11          96
13   especie1   14          98
14   especie1   15          92
15   especie1   16          99
16   especie1   17          88
17   especie1   18          99
18   especie1   19         129
19   especie1   20         132
20   especie1   21         114
21   especie1   22         128
22   especie1   23         105
23   especie1   25          98
24   especie1   26         111
25   especie1   27          98
26   especie1   28          96
27   especie1   29         125
28   especie1   30         107
29   especie1   31         112
..        ...  ...         ...
337  especie7   71          82
338  especie7   72          78
339  especie7   73          88
340  especie7   74          86
341  especie7   75          82
342  especie7   76          88
343  especie7   77          85
344  especie7   78          85
345  especie7   79          91
346  especie7   80          87
347  especie7   81          88
348  especie7   82         102
349  especie7   83          90
350  especie7   84          90
351  especie7   85          85
352  especie7   86          90
353  especie7   87          76
354  especie7   88          87
355  especie7   89          86
356  especie7   90          83
357  especie7   91          80
358  especie7   92          97
359  especie7   93          83
360  especie7   94          90
361  especie7   95          98
362  especie7   96          86
363  especie7   97          90
364  especie7   98          84
365  especie7   99          84
366  especie7  100          95

[367 rows x 3 columns]

# Describa el contenido del archivo que acaba de abrir.

### Se pueden observar solo unas líneas del archiv con el comando `.head()`

In [28]:
f.head()

    especie  org  long_total
0  especie1    1         100
1  especie1    2          89
2  especie1    3         114
3  especie1    4          88
4  especie1    5         124

### De manera similar se pueden observar las últimas líneas con el comando `tail()`

In [29]:
f.tail()

      especie  org  long_total
362  especie7   96          86
363  especie7   97          90
364  especie7   98          84
365  especie7   99          84
366  especie7  100          95

### _Ejercicio:_ utilizando los dos comandos anteriores, despliegue solo las primeras dos y las últimas dos línas del archivo abierto.

## Inserción de imágenes de la red

In [43]:
import requests

### Se va a insertar la imagen del logotipo de python de la dirección:
https://www.python.org/static/community_logos/python-logo-master-v3-TM.png

<img src="https://www.python.org/static/community_logos/python-logo-master-v3-TM.png">

de la página oficial de [Python](https://www.python.org)

<img src="./img/python_org.png">

<img src="https://www.python.org/static/community_logos/python-logo-master-v3-TM.png">

de la página oficial de [Python](https://www.python.org)

<img src="./img/python_org.png">

Se asigna la dirección del logo a la variable

In [34]:
ls

7sppMorfo_largototal.csv* metagenomics/             metagenomics3/
fasta/                    metagenomics2/            sec_masiva/

In [35]:
pwd

'/Users/migueldelrio/Desktop/bioinformatica_anotacion2019/data'

In [44]:
image_url = "https://www.python.org/static/community_logos/python-logo-master-v3-TM.png"

In [45]:
r = requests.get(image_url)

In [46]:
ls

Pierce287.3.14L13.S.S43046070.fasta  contigs.fa
bacteria_NR_043902.fa                img/
bacteria_NR_043902.gb                pierce16s.tsv
c_h_dloop.fasta*                     pierce_blastn16s.csv
c_h_dloop_mega.fasta                 secuencias_anotadas.fasta*
c_h_dloop_mega.meg

In [47]:
with open("python_logo.png", "wb") as f:
    f.write(r.content)

In [50]:
![](python_logo.png)

/bin/sh: -c: line 0: syntax error near unexpected token `python_logo.png'
/bin/sh: -c: line 0: `[](python_logo.png)'

<img src="python_logo.png">

In [48]:
image_url = "http://i3.ytimg.com/vi/J---aiyznGQ/mqdefault.jpg"
r = requests.get(image_url)
with open("cat.jpg", "wb") as f:
    f.write(r.content)

<img src="./cat.jpg">

In [49]:
ls

Pierce287.3.14L13.S.S43046070.fasta  contigs.fa
bacteria_NR_043902.fa                img/
bacteria_NR_043902.gb                pierce16s.tsv
c_h_dloop.fasta*                     pierce_blastn16s.csv
c_h_dloop_mega.fasta                 python_logo.png
c_h_dloop_mega.meg                   secuencias_anotadas.fasta*
cat.jpg

# Descargando una bitácora electrónica de la red (Github)

In [51]:
image_url = "https://raw.githubusercontent.com/mdelrio1/bioinformatica2019/master/jupyter/04_0_markdown.ipynb"
r = requests.get(image_url)
with open("02_0_markdown.ipynb", "wb") as f1:
    f1.write(r.content)

In [52]:
ls

02_0_markdown.ipynb                  cat.jpg
Pierce287.3.14L13.S.S43046070.fasta  contigs.fa
bacteria_NR_043902.fa                img/
bacteria_NR_043902.gb                pierce16s.tsv
c_h_dloop.fasta*                     pierce_blastn16s.csv
c_h_dloop_mega.fasta                 python_logo.png
c_h_dloop_mega.meg                   secuencias_anotadas.fasta*

In [53]:
!head 02_0_markdown.ipynb

{
 "cells": [
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "# [Markdown](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet) \n",
    "Es un lenguaje marcado de escritura breve para la publicación de texto en html. Se puede utilizar para la publicación de manera consistente en [internet](https://markdown.es).\n",
    "Existen diferentes versiones de *Markdown* por lo que no hay un estándar. A pesar de esto se darán unos comandos básicos para su uso.\n",
    "### A continuación se dan unos comandos, se recomienda consultar la página https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet para más información  "